body {
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
}

textarea {
  background-color: whitesmoke;
}

form {
  white-space: nowrap;
}

table {
  margin: 0 auto;
}

thead > tr > td {
  padding: 0 5px;
  font-weight: bold;
  border-collapse: collapse;
  border-bottom: 1px dashed #aaa;
}

span.green {
  color: lightgreen;
}

span.red {
  color: red;
}
