body {
  background-color: darkslategray;
  color: whitesmoke
}

textarea {
  background-color: whitesmoke
}

form {
  white-space: nowrap
}

table {
  text-align: center
}

thead > tr > td {
  padding: 0 5px;
  font-weight: bold;
  border-collapse: collapse;
  border-bottom: 1px dashed #aaa
}

span.green {
  color: lightgreen
}

span.red {
  color: red
}
